<div class="main-div">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card class="center" flex="50" *ngIf="!isLoading">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>{{ area }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{imgUrl}} />
    <mat-card-content>
      <ul>
        <li *ngFor="let ingredient of ingredients">{{ingredient}}</li>
      </ul>
      <p>{{ instructions }}</p>
      <a *ngIf="sourceUrl" href={{sourceUrl}}>More details</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="saveRecipe()">ADD TO LIST</button>
      <a mat-raised-button color="accent" (click)="refresh()">DIFFERENT RECIPE</a>
    </mat-card-actions>
  </mat-card>
</div>



